
* {
    padding: 0;
    margin: 0;
}

body {
    padding: 2em;
    background-size: contain;
    background-color: hsl(0, 100%, 74%);
    background-image: url("desktopBg.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


.textSide {
    width: 35%;

}

.textSide h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
}

.formSide {
    width: 35%;
}

form input, form button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;

}

.trialAd {
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 4px;
    width: 100%;
    padding: 20px;
    margin: 30px;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2);
}

.textSide, .trialAd p {
    color: white;
}

.formClass {
    background-color: white;
    width: 100%;
    padding: 20px;
    margin: 30px;
    margin-top: 8px;
    border-radius: 10px;
}

span {
    color: hsl(0, 100%, 74%);
}

.trialAd p {
   font-size: 10px;
   text-align: center;
}

.formClass p {
    color: rgb(167, 167, 167);
    font-size: 8px;
    text-align: center;
    margin-top: 4px;
}

.textSide p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: hsl(154, 59%, 51%);
  color: white;
  border-radius: 10px;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}